# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scripting.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Dev\Scripting\.idea\.idea.Scripting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
